html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pagina-home {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/background.jpg') no-repeat center center;
  background-size: cover;
}